.page-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  overflow: hidden;
  width: 40vw;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(50%);
  animation: slide 0.3s ease-out forwards;
}

.close-button {
  height: 3rem;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: inherit;
  flex-shrink: 0;
}

.close-button img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  cursor: pointer;
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-section {
  margin: 2rem 0;
  width: 100%;
}

.modal-section-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.inputs-section {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "name name"
    "email phone";
}

.input-block {
  display: flex;
  flex-direction: column;
}

.input-block.name-block {
  grid-area: name;
}

.input-block.email-block {
  grid-area: email;
}

.input-block.phone-block {
  grid-area: phone;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  padding: 0.75rem;
  background: none;
  border: 1px solid var(--dark-grey-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.slider-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-range .slider-value {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.custom-type-input {
  margin-bottom: 2rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-grey-color);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 1rem;
  color: var(--dark-grey-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 1rem;
  color: var(--dark-grey-color);
}

.task-types-list {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-block {
  flex: 1 0 40%;
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
}

.checkbox-block label {
  margin: 0;
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
}

.checkbox-block input {
  cursor: pointer;
  padding: 0;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-block input:checked {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.checkbox-block input:checked::after {
  content: "✓";
  font-weight: 600;
  font-size: 1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.modal-section.buttons-block {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.modal-section.buttons-block .file-input {
  display: none;
}

.modal-section.buttons-block button {
  padding: 0.75rem 2rem;
  background-color: var(--dark-grey-color);
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-section.buttons-block button.attach-button {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.modal-section.buttons-block button.attach-button:hover {
  background-color: var(--darker-grey-color);
}

.modal-section.buttons-block button.send-button {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.modal-section.buttons-block button.send-button:hover:not(:disabled) {
  background-color: var(--secondary-color-hovered);
}
.modal-section.buttons-block button.send-button:disabled {
  opacity: 0.5;
}

.modal-section.buttons-block button.send-button .throbber {
  width: 1.25rem;
  margin-left: -1rem;
  margin-right: 0.5rem;
  animation: spin 1s linear infinite;
}

.attach-button img {
  width: 1.5rem;
  margin-left: -1rem;
  margin-right: 0.5rem;
  margin-top: 2px;
}

.custom-slider .rc-slider-track {
  background-color: var(--secondary-color);
}
.custom-slider .rc-slider-handle {
  border: solid 2px var(--secondary-color);
}
.custom-slider .rc-slider-handle:active {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
}
.custom-slider .rc-slider-handle:hover {
  border-color: var(--secondary-color);
}
.custom-slider .rc-slider-handle.rc-slider-handle-dragging {
  border-color: var(--secondary-color) !important;
  box-shadow: 0 0 0 5px var(--secondary-color) !important;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 85vw;
  }

  .modal-section {
    margin: 1rem 0;
  }

  .inputs-section {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "name"
      "email"
      "phone";
  }

  .buttons-block button {
    width: 100%;
  }
}
